{% extends "./../htmlTemplates/user.html" %}

{% block content %}


    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 textcenter">
            <h1>Dang Anh Vu</h1>
            <h1>Mai Duy Dung</h1>
            <h1>Cung Manh Duy</h1>
    
        </div>   
        </div>
        <div class="col-md-3"></div> 


{% endblock %}