{% extends "./../htmlTemplates/user.html" %}

{% block content %}
<div class="container-fluid">        
    <img src="static/images/Homepage.png" class="rounded img-fluid" >
    <div class="row">
        <div class="col-sm-4">
            <h2 style="text-align: center">Our people</h2>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link font-italic" style="text-align: center">Dang Anh Vu</a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link font-italic" style="text-align: center" >Mai Duy Dung</a>
                </li>
                <br>
                <li class="nav-item">
                    <a class="nav-link font-italic" style="text-align: center" >Cung Viet Duy</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-8">
            <h2 style="text-align: center">Our latest stories</h2>
            <br>
            <div class="row">
                {% for book in books %}
                    <div class="col-md-4">
                        <p>{{book.title}}</p>
                        <img src="{{book.image_url}}" width="100%" alt="">
                        <p><small>[{{book.posted_at}}]</small></p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <h2 style="text-align: center">Our inspriration</h2>
    <br>
    <div class ="row">
        <div class="col-sm-4">
            <blockquote>
                <p>Sometimes, you read a book and it fills you with this weird evangelical zeal, and you become convinced that the shattered world will never be put back together unless and until all living humans read the book.</p>
                <footer class="blockquote-footer"> John Green, The Fault in Our Stars</footer>
            </blockquote>
        </div>
        <div class="col-sm-4">
            <p></p>
        </div>
        <div class="col-sm-4">
            <blockquote>
                <p>What really knocks me out is a book that, when you're all done reading it, you wish the author that wrote it was a terrific friend of yours and you could call him up on the phone whenever you felt like it. That doesn't happen much, though.</p>
                <footer class="blockquote-footer">J.D. Salinger, The Catcher in the Rye</footer>
            </blockquote>
        </div>
    </div>
    <blockquote class="text-center">
        <p>So many books, so little time.</p>
        <footer class="blockquote-footer">Frank Zappa</footer>
    </blockquote>
    <div class ="row">
            <div class="col-sm-4">
                <blockquote>
                    <p>I can never read all the books I want; I can never be all the people I want and live all the lives I want. I can never train myself in all the skills I want. And why do I want? I want to live and feel all the shades, tones and variations of mental and physical experience possible in my life. And I am horribly limited.</p>
                    <footer class="blockquote-footer">  Sylvia Plath, The Unabridged Journals of Sylvia Plath</footer>
                </blockquote>
            </div>
            <div class="col-sm-4">
                <p></p>
            </div>
            <div class="col-sm-4">
                <blockquote>
                    <p>I declare after all there is no enjoyment like reading! How much sooner one tires of any thing than of a book! -- When I have a house of my own, I shall be miserable if I have not an excellent library.</p>
                    <footer class="blockquote-footer">Jane Austen, Pride and Prejudice</footer>
                </blockquote>
            </div>
        </div>
</div>


    
{% endblock %}
