
{% extends "./../htmlTemplates/user.html" %}

	{% block content %}



	<!-- <form method="post">
		{% csrf_token %}
		<p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username" ></p>
		<p><label for="id_password">Password:</label> <input type="password" name="password" required="" id="id_password"></p>
		<button type="submit">Login</button>
	</form> -->

	<div class="row">
		<div class="col-md-4">		</div>
		<div class="col-md-4 text-center">		
				
		</br>
			<h1>Log in</h1>
			</br>
			<!-- <form method="post">
				{% csrf_token %}
				<p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username" ></p>
				<p><label for="id_password">Password:</label> <input type="password" name="password" required="" id="id_password"></p>
				<button type="submit">Login</button>
			</form> -->
		
			<form method = "post">
				{% csrf_token %}
				<div class="input-group mb-3">
					<span class="input-group-text">Username</span>
					<input class="form-control" type="text" name="username" autofocus="" required="" id="id_username">
				</div>
					
				<div class="input-group mb-3">
					<span class="input-group-text">Password</span>
					<input class="form-control" type="password" name="password" autofocus="" required="" id="id_password">
				</div>
				<button type="submit" class="btn btn-primary">Log in</button>
			</form>
		</div>
		<div class="col-md-4">		</div>
	</div>
		
	{% endblock %}