{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<div class="container">
        
        <div class="row">
            <div class="col-md-6">
                <img src="{{book.image_url}}" alt="" width="100%">
                
            </div>
            <div class="col-md-6" >
                    <div class="card-body">
                            <h5 class="card-title"><h4><b>{{book.title}}</b></h4></h5>
                            <p class="card-text">Introduction: {{ book.intro }}</p>
                            <a href="{% url 'edit' book.id %}" class="btn btn-danger btn-sm">Update</a>
                    </div>
            </div>
        </div>
        
  </div>
<br>    


<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 textcenter">
            <form action="{% url 'detailBook' book.id %}" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" type="text" name="comment" placeholder="nice day to write nice thing"></textarea>
                    </br>
                    <button type="submit" class="btn btn-success">Add Comment</button>
                    </br>
            </form>

            <div>
                    {% for comment in comments %}
                        <div class="media border p-3">
                            <div class="media-body">
                                <h4>{{comment.user_id.first_name}}<small class="text-muted"><i>  posted at {{comment.posted_at}}</i></small></h4>
                                <span>{{comment.text}}</span>
                            </div>
                            
                        </div>
                        
                    {% endfor %}
            </div>   
    </div>
    <div class="col-md-3"></div>


    
</div>
<br>
{% endblock %}

