{% extends "./../htmlTemplates/user.html" %}

{% block content %}

<h1 style="text-align: center" >All Books</h1>
<br>
{% for book in books %}
    <!-- <div class="row"> -->
        <!-- <div class="col-md-4 text-center">
            <img src="{{book.image_url}}" alt="" width="90%">
        </div> -->
        <!-- <div class="col-md-8 text-center">
            <h4><a href="{% url 'detailBook' book.id %}"><b>{{book.title}}</b></a></h4>
            <p>{{book.intro}}</p>
        </div> -->

        
<!-- 
    </div> -->
    <div class="container" style="width: 100rem;">
        
        <div class="row">
            <div class="col-md-4">
                <img src="{{book.image_url}}" alt="" width="50%">
                
            </div>
            <div class="col-md-8" >
                    <div class="card-body">
                            <h5 class="card-title"><h4><a href="{% url 'detailBook' book.id %}"><b>{{book.title}}</b></a></h4></h5>
                            <p class="card-text">{{ book.intro }}</p>
                            <!-- <a class="btn btn-primary" href="{% url 'detailBook' book.id %}"> Detail </a> -->
                    </div>
            </div>
        </div>
    </div>
        

    <hr>
{% endfor %}
{% endblock %}